<nav class="navbar col-11 m-auto fixed-top navbar-expand-lg bg-body-tertiary">
    <img class="iconNav" src="/img/one piece jolly.png" alt="iconNavbar">
    <div class="container-fluid">
        <a class="navbar-brand">Navegar</a>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/contato">Representantes</a>
                </li>
            </ul>
        </div>
        <a href="/login"> <!-- Icon para enviar à tela cliente adicionado no final da navbar -->
            <figure>
                <img class="iconNav" src="/img/logo cliente.png" alt="logoCliente">
            </figure>
        </a>
    </div>
</nav>