
<%- include ('partials/Header.ejs') %>

<body class="d-flex align-items-center py-4 bg-body-tertiary "> 
    <main class="w-100 m-auto form-container text-center">
        <img src="/img/one piece jolly.png" height="300" width="300" alt="Jolly Roger One Piece"> <!-- Ícone da tela de login -->
        
        <!-- Formulário de Login -->
        <form id="loginForm" >
          <h1 class="h3 mb-3 fw-normal">Login</h1>
          
          <!-- Campo de Usuário -->
          <div class="form-floating mb-3">
            <input 
              type="text" 
              class="form-control" 
              id="login" 
              name="username" 
              placeholder="valorUsuario" 
              >
            <label for="login">Usuário</label>
          </div>
    
          <!-- Campo de Senha -->
          <div class="form-floating mb-3">
            <input 
              type="password" 
              class="form-control" 
              id="senha" 
              name="password" 
              placeholder="Senha">
            <label for="senha">Senha</label>
          </div>
    
          <!-- Botão de Login -->
          <div>
            <button class="btn btn-primary w-100 py-2">Logar</button>
          </div>
        </form>
      </main>

<script src="/js/pLogin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<%- include ('partials/footerJS.ejs') %>

