
    <%- include ('partials/header.ejs') %>

    <%- include('partials/nav.ejs') %> <!-- Inclui o menu de navegação -->
  
    <div class="col-11 m-auto pt-5 mt-5">
      <h1 class="text-center">Principais Produtos</h1> <!-- Título principal -->
      <br>
      <p class="fs-4 text-center">Abaixo é possível visualizar os principais produtos comercializados, cada um ocupando um espaço de grande relevância no mercado.</p> <!-- Breve explicação -->
    </div>
  
    <div class="container"> <!-- Container para os produtos -->
      <!-- Produto: Mangá -->
      <div class="box">
        <h2>Mangá</h2>
        <p>Atualmente é o mangá mais vendido do mundo, possuindo 110 volumes. Pode ser adquirido no Brasil através da editora nacional Panini ou consumido digitalmente por meios não oficiais.</p>
        <img src="/img/mangá.jpg" alt="Imagem do Mangá" class="img-fluid">
      </div>
  
      <!-- Produto: Anime -->
      <div class="box">
        <h2>Anime</h2>
        <p>Um dos maiores animes do mundo, com uma história linear e 1.122 episódios. Pode ser assistido parcialmente na Netflix, com dublagem nacional até o episódio 600, ou completo na Crunchyroll.</p>
        <img src="/img/anime.png" alt="Imagem do Anime" class="img-fluid">
      </div>
  
      <!-- Produto: Figures -->
      <div class="box">
        <h2>Figures</h2>
        <p>O mercado de figures é gigante, com One Piece como uma das principais marcas, devido ao grande número de personagens.</p>
        <img src="/img/figures.png" alt="Imagem de Figures" class="img-fluid">
      </div>
  
      <!-- Produto: Acessórios Diversos -->
      <div class="box">
        <h2>Acessórios Diversos</h2>
        <p>Com o sucesso do Live Action, produtos variados como pulseiras, broches, itens decorativos e vestimentas têm sido altamente requisitados, encontrados até mesmo em lojas locais.</p>
        <img src="/img/acessórios.jpg" alt="Imagem de Acessórios Diversos" class="img-fluid">
      </div>
  
      <!-- Produto: Tatuagens -->
      <div class="box">
        <h2>Tatuagens</h2>
        <p>Não é incomum encontrar fãs com tatuagens inspiradas na obra, principalmente seus personagens marcantes.</p>
        <img src="/img/tatuagem.jpg" alt="Imagem de Tatuagem" class="img-fluid">
      </div>
    </div>
  
    <br><br>
    <div>
      <!-- Referência para informações adicionais -->
      <p class="col-11 m-auto text-center fs-4">
        É possível acessar onde encontrar os produtos citados acima em 
        <a href="/img/contatos.html" class="text-decoration-underline text-primary">Representantes</a> pela aba "Navegar".
      </p>
    </div>
    <br><br><br>

    <%- include ('partials/footerHTML.ejs') %>

<%- include ('partials/footerJS.ejs') %>

